@import url("https://fonts.googleapis.com/css?family=Monda|Montserrat&display=swap");

body {
  margin: 0px;
}

hr{
    border-color:#2e7d32;
    box-sizing:border-box;
    width:100%;  
  }

.titleSection {
  text-align: center;
  color: #2e7d32;
  text-shadow: 0 0 0.2em #8F7;
  padding-top: 15px;
}

.padding {
  padding-top: 50px;
}

.menu {
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 250px auto;
  background: white;
}

nav {
  background-color: white;
  padding: 0.2em;
}
a{
  text-decoration: none;
}


nav a {
  
  font-family: "Monda";
  color:  #2e7d32;
  font-size: 1.2em;
  text-decoration: none;
}

nav ul {
  list-style-type: none; /* removes the bullets! */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
}

nav a:hover, .active {
  background:  #2e7d32;
  padding: 0.1em 0.7em 0.1em 0.7em;
  color: white;
}


#logo {
  width: 200px;
  background: white;
  float: left;
}

.banner {
  width: 100%;
}


.footer {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 75% auto;
  background-color: #2e7d32;
  padding-top: 1em;
}

.social {
  grid-column: 2/3;
  float: right;
}

.socialmedia {
  padding: auto 3px;
}

.icon {
  width: 55px;
  height: 55px;
  box-shadow: 4px 4px 4px;
}

.info {
  font-size: 1em;
  grid-column: 1/2;
  color: white;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

.audio, audio p {
  background-color: #2e7d32;
  padding: 0px 20px 2px 20px;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

/* Card 1*/
.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: 'Monda';
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em #2e7d32;
  transition: all, 0.5;
  position: relative;
  overflow: hidden;
  border: 10px solid #2e7d32;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: '';
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: #2e7d32,0.5;
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, 0.5s;
}

.card:hover .tags .tag {
  background:#2e7d32;;
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, 0.5s;
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover {
  color:#2e7d32;
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/*Card 2*/
.middle{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.card2{
  cursor: pointer;
  width: 340px;
  height: 480px;
}
.front,.back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
}
.front img{
  height: 100%;
}
.front{
  transform: perspective(600px) rotateY(0deg);
}
.back{
  background: #f1f1f1;
  transform: perspective(600px) rotateY(180deg);
}
.back-content{
  color: #2e7d32;
  text-align: center;
  width: 100%;
}
.sm{
  margin: 30px 0;

}
.sm a{
  display: inline-flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  color: #2e7d32;
  font-size: 50px;
  transition: 0.4s;
  border-radius: 50%
}
.sm a:hover{
  background: #2e7d32;
  color: white;
}
.card2:hover > .front{
  transform: perspective(600px) rotateY(-180deg);
}
.card2:hover > .back{
  transform: perspective(600px) rotateY(0deg);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

/* page About*/

.about-grid {
    gap: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .about-text p {
    grid-column: 2/3;
    text-align: justify;
    margin: auto;
    padding: 50px;
    font-size: 20px ;
  }
  
  .about-right-img {
    margin: auto;
    grid-column: 2/3;
    max-width: 400px;
    margin: auto;
   border-radius: 50%;
  }
  
  .about-text img {
    display: flex;
    width: 100px;
    margin: auto;
    }

/* page Contact*/

.contact-grid {
  gap: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-left-img {
  margin: 5px;
  grid-column: 1/2;
  max-width: 75%;
  margin: auto;
}

/* FORM */

form {
  /* Just to center the form on the page */
  font-family: "Monda", cursive;
  background: #2e7d32;
  margin: 2em auto;
  width: 50%;
  grid-column: 1/3;
  /* To see the outline of the form */
  padding: 1em;
  border-radius: 1em;
  font-size: 20px;
  color: white;
  min-width: 400px;
}

form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

form label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings By default, textareas have a monospace font */
  font: 1em sans-serif;
  /* To give the same size to all text fields */
  width: 300px;
  box-sizing: border-box; /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
  margin-left: 50px;
}

input:focus,
textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;
  /* To give enough room to type some text */
  height: 5em;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px;
  margin-left: 50px;
  /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space between the labels and their text fields */
  margin-left: 0.5em;
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}